<!DOCTYPE html>
<html>
<head>
    <title>Lista de Alumnos</title>
</head>
<body>
    <h1>Alumnos</h1>
    <a href="/create">Crear Alumno</a>
    <table border="1">
        <tr>
            <th>ID</th><th>Nombre</th><th>Apellido</th><th>Edad</th><th>Acciones</th>
        </tr>
        {% for a in alumnos %}
        <tr>
            <td>{{ a[0] }}</td>
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
            <td>{{ a[3] }}</td>
            <td>
                <a href="/update/{{ a[0] }}">Editar</a> |
                <a href="/delete/{{ a[0] }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
